{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "corejs": 3,
                "targets": {
                    "browsers": [
                        "> 1%",
                        "last 2 version",
                        "IE 11"
                    ]
                },
                "debug": false,
                "useBuiltIns": "usage"
            }
        ]
    ]
}